<h1>Hi, <%= @manager.name.split.map(&:capitalize).join(' ') %></h1>
<p>
  You have received a new PTO request from <%= @user.name.split.map(&:capitalize).join(' ') %>
</p>
<p>
  The request is from <%= @request.start_date %> - <%= @request.end_date %> for <%= @request.number_of_hours %> hours.
</p>
<p>
  To login to the site, just follow this link: <%= link_to "Here", root_url %>.
</p>
<p>Thanks for joining and have a great day!</p>
