<div class="flex-1 flex flex-col mx-auto">
  <%= form_for @user, html: {class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col"} do |e| %>
  <div class="-mx-3 flex-col mb-6">
    <div class="flex items-center px-4 mb-6 md:mb-0">
      <%= e.label :name, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= e.text_field :name, class:"appearance-none block w-full bg-gray-100 text-gray-700 border border-red rounded py-3 px-4 m-3", placeholder:"Enter Name" %>
    </div>
    <div class="flex items-center px-4 mb-6 md:mb-0">
      <%= e.label :email, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= e.email_field :email, class:"appearance-none block w-full bg-gray-100 text-gray-700 border border-red rounded py-3 px-4 m-3", placeholder:"Enter Email" %>
    </div>
    <!--  -->
    <% if current_user.department == 'Human Resources'%>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :role, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= e.text_field :role, class:"appearance-none block w-full bg-gray-100 text-gray-700 border border-red rounded py-3 px-4 m-3", placeholder:"Enter Role" %>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :department, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= e.select(:department, [ 'Sales', 'Accounting', 'Human Resources', 'Management', 'Reception','Product Oversight', 'Warehouse' ], {:prompt => current_user.department} , { :class => "py-3 px-4 m-3 block w-full text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md bg-gray-100"} )%>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :salary, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= e.number_field :salary, class:"appearance-none block w-full bg-gray-100 text-gray-700 border border-red rounded py-3 px-4 m-3", placeholder:"Enter Salary" %>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :experience, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= e.number_field :experience, class:"appearance-none block w-full bg-gray-100 text-gray-700 border border-red rounded py-3 px-4 m-3", placeholder:"Enter Experience in Years" %>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :paid_time_off, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= e.number_field :paid_time_off, class:"appearance-none block w-full bg-gray-100 text-gray-700 border border-red rounded py-3 px-4 m-3", placeholder:"Enter PTO amount" %>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :manager_id, class:"block text-sm font-medium text-gray-700" %>
        <%= e.select(:manager_id, @all_users.map{ |u| ["#{u.name}", u.id]}, { :include_blank => 'No Manager Selected' }, { :class => "py-3 px-4 m-3 block w-full text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md bg-gray-100"} ) %>
      </div>

      <div class="flex px-3">
        <label class="relative block rounded-lg border border-gray-300 bg-white shadow-sm px-6 py-4 cursor-pointer hover:border-gray-400 sm:flex sm:justify-center focus-within:ring-1 focus-within:ring-offset-2 focus-within:ring-indigo-500 focus-within:bg-indigo-400 focus-within:text-white mr-2">
          <%= e.radio_button(:is_admin, true, {:class => "sr-only"})  %>
          <div class="flex items-center">
            <div class="text-sm">
              <p id="server-size-0-label" class="font-medium text-gray-900">
                Administrative Employee
              </p>
            </div>
          </div>
        </label>
        <label class="relative block rounded-lg border border-gray-300 bg-white shadow-sm px-6 py-4 cursor-pointer hover:border-gray-400 sm:flex sm:justify-center focus-within:ring-1 focus-within:ring-offset-2 focus-within:ring-indigo-500 focus-within:bg-indigo-400 focus-within:text-white ml-2">
          <%= e.radio_button(:is_admin, false, {:class => "sr-only"})  %>
          <div class="flex items-center">
            <div class="text-sm">
              <p id="server-size-0-label" class="font-medium text-gray-900">
                Non-Administrative Employee
              </p>
            </div>
          </div>
        </label>
      </div>
    <% else %>
      <p class="block uppercase tracking-wide text-red-600 text-xs font-bold mb-2">
        Contact Human Resources to change information in red
      </p>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :role, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <div class="appearance-none block w-full bg-gray-100 text-red-400 border border-red rounded py-3 px-4 m-3">
          <span><%= @user.role %></span>
        </div>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :department, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <div class="appearance-none block w-full bg-gray-100 text-red-400 border border-red rounded py-3 px-4 m-3">
          <span><%= @user.department %></span>
        </div>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :salary, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <div class="appearance-none block w-full bg-gray-100 text-red-400 border border-red rounded py-3 px-4 m-3">
          <span>$<%= @user.salary %></span>
        </div>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :experience, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <div class="appearance-none block w-full bg-gray-100 text-red-400 border border-red rounded py-3 px-4 m-3">
          <span><%= @user.experience %></span>
        </div>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :paid_time_off, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <div class="appearance-none block w-full bg-gray-100 text-red-400 border border-red rounded py-3 px-4 m-3">
          <span><%= @user.paid_time_off %></span>
        </div>
      </div>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= e.label :manager_id, class:"block text-sm font-medium text-gray-700" %>
        <div class="appearance-none block w-full bg-gray-100 text-red-400 border border-red rounded py-3 px-4 m-3">
          <% if @user.manager%>
            <span><%= @user.manager.name %></span>
          <% else %>
            <span>No Manager</span>
          <% end %>

        </div>
      </div>

      <div class="flex px-3">
        <% if @user.is_admin %>
          <label class="relative block rounded-lg border border-gray-300 bg-white shadow-sm px-6 py-4 cursor-pointer hover:border-gray-400 sm:flex sm:justify-center focus-within:ring-1 focus-within:ring-offset-2 focus-within:ring-indigo-500 focus-within:bg-indigo-400 focus-within:text-white mr-2">
            <%= e.radio_button(:is_admin, true, {:class => "sr-only"})  %>
            <div class="flex items-center">
              <div class="text-sm">
                <p id="server-size-0-label" class="font-medium text-gray-900">
                  Administrative Employee
                </p>
              </div>
            </div>
          </label>
        <% elsif !@user.is_admin %>
          <label class="relative block rounded-lg border border-gray-300 bg-white shadow-sm px-6 py-4 cursor-pointer hover:border-gray-400 sm:flex sm:justify-center focus-within:ring-1 focus-within:ring-offset-2 focus-within:ring-indigo-500 focus-within:bg-indigo-400 focus-within:text-white ml-2">
            <%= e.radio_button(:is_admin, false, {:class => "sr-only"})  %>
            <div class="flex items-center">
              <div class="text-sm">
                <p id="server-size-0-label" class="font-medium text-gray-900">
                  Non-Administrative Employee
                </p>
              </div>
            </div>
          </label>
        <% end %>
      </div>
    </div>
  <% end %>

  <!--  -->
  <div class="-mx-3 md:flex m-6">
    <div class="md:w-full px-3">
      <%= e.label :avatar, class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= e.file_field :avatar, direct_upload: true, class:"appearance-none block w-full bg-grey-lighter text-gray-700 border border-grey-lighter rounded py-3 px-4 mb-3" %>
      <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Current Avatar:</p>
      <%= image_tag ("#{@user.avatar.url}"), class:"w-32 h-32 object-cover flex-shrink-0 mx-auto bg-black rounded-full" %>

    </div>
  </div>
  <div class="mx-auto">
    <%= e.submit "Save Changes", class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 bg-blue-400 p-2 rounded-md" %>
  </div>
  <% end %>
</div>
