<div class="">
  <%= form_for User.new, url: user_index_path, html: {class: "flex flex-col  border border-2 p-2 mt-2"} do |e| %>
  <div class="flex flex-wrap justify-between">
    <div class="p-2">
      <%= e.label :name %><br>
      <%= e.text_field :name, placeholder:"enter name" %>
    </div>
    <div class="p-2">
      <%= e.label :role %><br>
      <%= e.text_field :role, placeholder:"enter role" %>
    </div>
    <div class="p-2">
      <%= e.label :department %><br>
      <%= e.text_field :department, placeholder:"enter department" %>
    </div>
    <div class="p-2">
      <%= e.label :paid_time_off, "Paid Time Off Balance" %><br>
      <%= e.number_field :paid_time_off, placeholder:"enter PTO amount" %>
    </div>
    <div class="p-2">
      <%= e.label :salary %><br>
      <%= e.number_field :salary, placeholder:"enter salary" %>
    </div>
    <div class="p-2">
      <%= e.label :experience %><br>
      <%= e.number_field :experience, placeholder:"enter years of experience" %>
    </div>
    <div class="p-2">
      <%= e.label :manager_id %><br>
      <%= e.number_field :manager_id, placeholder:"enter manager" %>
    </div>
    <div class="p-2">
      <%= e.label :is_admin, 'Administrator' %><br>
      <%= e.radio_button :is_admin, 'true' %> Yes
      <%= e.radio_button :is_admin, 'false' %> No
    </div>
    <div class="p-2">
      <%= e.label :username %><br>
      <%= e.text_field :username, placeholder:"enter username" %>
    </div>
    <div class="p-2">
      <%= e.label :password %><br>
      <%= e.text_field :password, placeholder:"enter password" %>
    </div>
  </div>
  <div class="p-2 self-center ">
    <%= e.submit class: 'w-auto bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
  </div>
  <% end %>
</div>
