<main class="flex-1 flex flex-col mx-auto max-w-lg">
  <%= form_for @request, url: user_requests_path(@user), html: {class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2"} do |r| %>
    <div class="-mx-3 flex-col mb-6">
      <h3 class="font-bold text-xl text-center">Edit Request</h3>
    </div>
    <div class="flex items-center px-4 mb-6 md:mb-0">
      <%= r.label :start_date, class:"block text-sm font-medium text-gray-700" %>
      <%= r.text_field :start_date,
        data: {
          controller: "flatpickr",
          flatpickr_alt_format: t("date.formats.long"),
          flatpickr_alt_input: true,
          flatpickr_min_date: Time.zone.now,
        },
        class:"appearance-none block w-full bg-gray-100 text-grey-darker border border-red rounded py-3 px-4 m-3"
      %>
    </div>
    <div class="flex items-center px-4 mb-6 md:mb-0">
      <%= r.label :end_date, class:"block text-sm font-medium text-gray-700" %>
      <%= r.text_field :end_date,
        data: {
          controller: "flatpickr",
          flatpickr_alt_format: t("date.formats.long"),
          # flatpickr_date_format: "%B %m, %Y",
          flatpickr_alt_input: true,
          flatpickr_min_date: Time.zone.now,
        },
        class:"appearance-none block w-full bg-gray-100 text-grey-darker border border-red rounded py-3 px-4 m-3"
      %>
    </div>
    <div class="flex items-center px-4 mb-6 md:mb-0">
      <%= r.label :number_of_hours, class:"block text-sm font-medium text-gray-700" %>
      <%= r.text_field :number_of_hours,
        class:"appearance-none block w-1/3 bg-gray-100 text-grey-darker border border-red rounded py-3 px-4 m-3"
      %>
    </div>
    <% if  current_user.department == 'Human Resources' || current_user.id == @user.manager_id %>
      <div class="flex items-center px-4 mb-6 md:mb-0">
        <%= r.label :is_approved, "Status",  class:"block text-sm font-medium text-gray-700" %>
        <%= r.select :is_approved, options_for_select([['Approved', true], ['Denied', false]]), {:prompt => 'Select One'}, { :class => "py-3 px-4 m-3 block w-full text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md bg-gray-100"} %>
      </div>
    <% else %>
    <% end %>


    <div class="flex flex-row justify-around w-full px-3 mt-2">
      <button type="button" name="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <%= r.submit "Save Request", class:"bg-indigo-600 hover:bg-indigo-700" %>
      </button>
      <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-200 hover:bg-indigo-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <%= link_to "Cancel", user_path(@user) %>
      </button>
    </div>
  <% end %>
</main>
